.main-container {
  margin: 40px auto 0;
  font-size: 14px;
  width:860px;
}

h1 {
  text-align: center;
}

.how-to-play{
  fontsize: 12px;
}

.hidden{
  display: none;
}

.menu-ctas{
  width: 400px;
  margin:auto;
}

.menu-btn-container{
  margin:20px 0;
}

.dial-container{
  margin: 20px auto 0;
  width:565px;
  height:332px;
  overflow: hidden;
  position:relative;
}

.dial {
  background: url("../img/dial.png");
  width:565px;
  height:565px;
}

.dial-padding{
  height: 50px;
  width: 100%;
  background: #fff;
  position:absolute;
  bottom: 0;
  z-index: 20;
}

.dial-cover{
  width: 565px;
  height: 565px;
  position: absolute;
  top: 0;
  border-radius: 565px;
  background-color: #efefef;
  z-index: 10;
}

.dial-needle {
  background: url("../img/needle.png");
  width:565px;
  height:565px;
  position: absolute;
  top: 0;
  z-index: 50;
  rotate: 0deg;
}


.card-container {
  width:400px;
  height: 100px;
  margin: 20px auto 0;
}

.card-half {
  font-size: 18px;
  text-align: center;
  width: 50%;
  height: 100%;
  display:inline-block;
  line-height: 100px;
}

.card-left {
  border-radius: 10px 0px 0px 10px;
}

.card-right {
  border-radius: 0px 10px 10px 0px;
}
