html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.main-container {
  font-family: sans-serif;
  line-height: 1;
  margin: 0 auto;
  font-size: 14px;
  width:100%;
  color:#333;
}

h1 {
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  background-color: #1a1a35;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  color: white;
  padding: 20px;
}

p {
  margin-top: 0.2em;
  line-height: 1.2em;
}

/* ------------ Menu ------------ */
.hidden{
  display: none;
}

.menu-ctas{
  width: 545px;
  margin: 50px auto 20px;
}


/* ------------ Buttons  ------------ */

/*.btn {
  background-color: #e1561d;
}

.btn:hover {
  background-color: #e87a54;
}*/

/* ------------ Game ------------ */

.dial-container{
  margin: 20px auto 0;
  width:565px;
  height:332px;
  overflow: hidden;
  position:relative;
}

.dial {
  background: url("../img/dial.png");
  width:565px;
  height:565px;
}

.dial-padding{
  height: 50px;
  width: 100%;
  background: #fff;
  position:absolute;
  bottom: 0;
  z-index: 20;
}

.dial-cover{
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  border-radius: 565px;
  border-top: 283px #72b6b5 solid;
  border-bottom: 283px transparent solid;
  border-left: 283px transparent solid;
  border-right: 283px #72b6b5 solid;
  transform: rotate(135deg);
  transition: all ease-in-out 1s;
  z-index: 10;
}

.dial-needle {
  background: url("../img/needle.png");
  width:565px;
  height:565px;
  position: absolute;
  top: 0;
  z-index: 50;
}


.card-container {
  width:440px;
  height: 90px;
  line-height: 90px;
  margin: 20px auto 0;
}

.card-half {
	color: #000;
  font-size: 18px;
  text-align: center;
  width: 50%;
  height: 100%;
  display:inline-block;
}

.card-left {
  border-radius: 10px 0px 0px 10px;
}

.card-right {
  border-radius: 0px 10px 10px 0px;
}

.game-buttons {
  text-align: center;
  margin-top:20px;
}

.game-code-text {
    text-transform: uppercase;
    width: 71%;
    text-align: center;
    margin: auto;
    margin-top: 7px;
}

.game-code-n {
  font-weight: bold;
  font-size: 2em;
  margin: 5px;
}

/* ------------ Footer  ------------ */

.footer-color {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.footer-color-01 {
  height: 1vw;
  background-color: #ef9ba1;
}
.footer-color-02 {
  height: 1vw;
  background-color: #e86644;
}

.footer-color-03 {
  height: 1vw;
  background-color: #79bbb9;
}

.footer-color-04 {
  height: 1vw;
  background-color: #afd5ac;
}


/* ------------ Responsive ------------ */

@media screen and (max-width: 601px) {
  h1 {
    width: 100%;
  }
  .how-to-play{
    padding: 20px;
    width: 100%;
  }
  .footer-color {
    width: 100%;
  }
}
